In [ ]:
# Importing our libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Loading our dataset
df = pd.read_csv(r"C:\Users\WIN10\Desktop\ChatGPT_Project\Data\1_DataSet_Health\Healthcare_Investments_and_Hospital_Stay (1).csv")

In [2]:
# Column Normalization
df.columns = df.columns.str.lower()

# Find NaN values
print(f"NaN values: {df.isna().sum()}")     # Clean data, NaN values not found.

NaN values: location         0
time             0
hospital_stay    0
mri_units        0
ct_scanners      0
hospital_beds    0
dtype: int64

In [3]:
# Check Data Types for a possible convertion
print(f"Data info: {df.dtypes}")           # Information as we need for the following analysis

Data info: location             str
time               int64
hospital_stay    float64
mri_units        float64
ct_scanners      float64
hospital_beds    float64
dtype: object

In [4]:
df

    location  time  hospital_stay  mri_units  ct_scanners  hospital_beds
0        AUS  1992            6.6       1.43        16.71           1.43
1        AUS  1994            6.4       2.36        18.48           2.36
2        AUS  1995            6.5       2.89        20.55           2.89
3        AUS  1996            6.4       2.96        21.95           2.96
4        AUS  1997            6.2       3.53        23.34           3.53
..       ...   ...            ...        ...          ...            ...
513      LTU  2014            6.8      10.57        22.17          10.57
514      LTU  2015            6.6      11.02        21.00          11.02
515      LTU  2016            6.6      12.20        23.01          12.20
516      LTU  2017            6.5      12.37        23.33          12.37
517      LTU  2018            6.5      12.49        24.27          12.49

[518 rows x 6 columns]